.mce-menubar .mce-menubtn.mce-active {
    z-index: 65534 !important;
}

td.centred, td.centred-left {
	vertical-align: middle;
}

td.centred {
	text-align: center;
}

td.centred a.button {
	margin: 0!important;
}
